@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.search-box{
  outline: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  height: 39vh;
  width: 15vw;
  box-sizing: border-box;
  border: 5px;
  font-size: 2%;
  box-shadow: black;
  padding: 1%;

}
.text {
  font-size: medium;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  color :rgb(58, 61, 61);
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filter-bar{
  outline: none;
}
.flag-img{
  height:42vh;
  width:27vw;
  margin-left: -6%;
}
.back-btn{
  width: 8vw;
  box-sizing: border-box;
  box-shadow: 0.5vh 0.2vw rgb(185, 176, 176);
}
.details-box{
  margin-top: 2%;
  margin-left:-10%;
  width:30vw;
}
.borders{
  height:4vh;
  width : 5vw;
  border-radius:6%;
  margin-left: 3%;
  font-weight: 300;
  text-align:center;
  box-shadow: 0.3vh 0.1vw rgb(185, 176, 176);
}

@media (min-width:320px) {
  .card {
    height: 45vh;
    width: 55vw;
    box-sizing: border-box;
    border: 1px white;
    font-size: small;
    box-shadow: 0.9vw 1.2vh rgb(209, 213, 230);
  }
}

@media (min-width:640px) {
  .card {
    height: 42vh;
    width: 35vw;
    box-sizing: border-box;
    border: 1px white;
    font-size: 2%;
    padding: 1%;
    box-shadow: 0.69vw 1.2vh rgb(209, 213, 230);
  }
}

@media (min-width:768px) {
  .card {
    height: 52vh;
    width: 39vw;
    box-sizing: border-box;
    border: 1px white;
    font-size: small;
    box-shadow: 0.69vw 1.2vh rgb(209, 213, 230);
  }
}

@media (min-width:992px) {
  .card {
    height: 45vh;
    width: 18vw;
    box-sizing: border-box;
    border: 1px white;
    font-size: x-large;
    box-shadow: 0.69vw 1.2vh rgb(209, 213, 230);
  }
}

@media (min-width:1440px) {
  .card {
    height: 39vh;
    width: 14vw;
    box-sizing: border-box;
    border: 1px white;
    font-size: small;
    box-shadow: 0.69vw 1.2vh rgb(209, 213, 230);
  }
}